%h2 JobNets

%ul.collapsible.popout{data: {collapsible: "accordion"}}
  - @job_nets.each do |jn|
    = partial('job_net_list', locals: {jn: jn})

:javascript
  $(".jobnet-detail").on("click", function(e) {
    e.stopPropagation();
  });
